h1{
    color: #0065E1;
    margin-left: 120px;
}

.sign-in{
    margin-left:200px;
    margin-top: -100px;
    padding-bottom:15px;
    padding-top: 15px;
    padding-left:30px;
    padding-right:30px;
    border-radius:50px;
    color: #0065E1;
    border:1px solid #0065E1;
    background-color: white;
}
.join-now{
    color:white;
    margin-top: -60px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left:30px;
    padding-right:30px;
    border-radius:50px;
    background-color:#0065E1 ;
    border: none;
}
i,a{
    color: rgb(99, 97, 97);
    text-decoration: none; 
}
.nav-head{
    margin-top: -70px;
    margin-left: 300px;
}
.sign-in,.join-now{
    display: inline-block;
}
.image{
   width: 700px;
   height: 700px;
   margin-top: -25px;
   margin-left: 350px;
}
.body-info{
    margin-top: -800px;
    margin-left: 150px;
}
.paratittle{
    font-size: 44px;
    margin-left: -30px;
}
.button-continue{
    background-color: #0065E1;
    border-radius: 20px;
    border-style: none;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 12px;
    padding-top: 12px;
    color: white;
    margin-top: -30px;
    margin-left: -30px;
}
.design{
    background-color: white;
    border-radius: 20px;
    border: 1px solid #525455;
    margin-left: -30px;
    padding-left: 140px;
    padding-right: 140px;
    padding-bottom: 12px;
    padding-top:12px;
    color:#141414;
}
.design1{
   background-color: white;
    border-radius: 20px;
    border: 1px solid #525455;
    margin-left: -30px;
    padding-left:114px;
    padding-right:114px;
    padding-bottom: 12px;
    padding-top:12px; 
    color: #141414;
}
.para{
    color: #525455;
    font-size: 12px;
    margin-left: 30px;
}
u{
    color: #0065E1;
    text-decoration: none;
}
.last-line{
   margin-left: 90px;
   font-size: 18px;
}
p{
font-size: 36px;
padding-top: 60px;
margin-top: 100px;
margin-left: 100px;
}
.button-1{
    background-color:#F4F3F1;
    padding: 15px;
    border: 1px solid rgb(73, 72, 72);
    border-radius: 30px;
    font-size: 16px;
    color: rgb(20, 20, 20);
}
.button1{
    margin-top: -100px;
    margin-left: 600px;
}
.p-a{
    margin-top: -140px;
    margin-left: -30px;
}
.buttons-p-1{
    background-color: #F4F3F1;
    margin-top: 30px;
    margin-left: -5px; 
}


.block2{
    background-color: #F2EDE6;
    margin-left: -300px;
    margin-top: -100px;
    margin-bottom: -200px;
}
.post-button{
    border:1px solid #0A67C2;
    border-radius: 20px;
    color: #0A67C2;
    margin-top: -60px;
    margin-left:950px;
    padding-bottom:15px;
    padding-top: 15px;
    padding-left:30px;
    padding-right:30px;
    background-color: #F2EDE6;
    outline-offset: 100px;
}
.block2-p{
    color: #B13F20;
    margin-left:700px;
    padding-top: 60px;
    margin-bottom: 100px;

}
.block3-p{
margin-left: 110px;
margin-top:250px;
}
.block3-p1{
margin-left:110px;
margin-top:-75px;
}
.button3{
    margin-left: 600px;
    margin-top:-170px;
}
.button-3{
    background-color: #ffffff;
    padding: 15px;
    border: 1px solid rgb(73, 72, 72);
    border-radius: 30px;
    font-size: 16px;
    color: rgb(20, 20, 20);
}
.button-show-3{
    background-color:#ffffff;
    padding: 15px;
    border: 1px solid #0A67C2;
    border-radius: 30px;
    font-size: 16px;
    color: #0A67C2;
}
.block4-p1{
margin-left: 110px;
margin-top:250px;
font-size: 36px;
margin-left: 100px;
margin-top: 60px;
}
.block4-p2{
margin-left:110px;
margin-top:-75px;
font-size: 22px;
margin-left: 100px;
}
.button-4{
    background-color: #ffffff;
    padding: 15px;
    border: 1px solid rgb(73, 72, 72);
    border-radius: 30px;
    font-size: 16px;
    color: rgb(20, 20, 20);
}
.button4{
margin-left: 600px;
margin-top: -170px;
}
.block5-bg{
    background-color: #F4F3F1;
    padding-top: 40px;
    padding-bottom: 80px;
}
.block4{
    padding-bottom: 120px;
}
.block5-image{
    width: 450px;
    height: 450px;
    margin-top: -350px;
    margin-left: 730px;  
}
.block5-p1{
margin-left: 110px;
font-size: 36px;
color: #B24020;
}
.block5-p2{
margin-left: 110px;
margin-top:-80px;
font-size: 22px;
padding: -4px;
}
.block5-i{
    width: 100px;
    height: 100px;
    margin-top: 100px;
}
.block6{
padding-top: 180px;
padding-bottom: 100px;
}
.block6-img1{
margin-left: 100px;
}
.block6-img2{
margin-left: 350px;
}
.block6-p1{
font-size: 36px;
margin-top: -50px;
margin-left: 100px ;
}
.block6-p2{
font-size: 36px;
margin-top: -180px;
margin-left: 720px ;
}
.block6-b1{
background-color: #ffffff;
    padding: 15px;
    border: 1px solid rgb(73, 72, 72);
    border-radius: 30px;
    font-size: 16px;
    color: rgb(20, 20, 20);
    margin-top: -10px;
    margin-left: 100px ;
}
.block6-b2{
background-color: #ffffff;
    padding: 15px;
    border: 1px solid rgb(185, 181, 181);
    border-radius: 10px;
    font-size: 18px;
    color: black;
    margin-top: -120px;
    margin-left: 425px ;
    padding-right: 10px;
}
.block7-both{
    padding-top: 100px;
}
.block7{
     background-color:#F4F3F1;
     padding: 50px;
}
.block7-img{
  width: 900px;
  height: 900px;  
  margin-left: 800px;
  margin-top: -700px;
}
.block7-b1{
    background-color:#EAE6DF;
    padding: 10px;
    border: 1px solid #EAE6DF ;
    border-radius: 1px;
    font-size: 20px;
    color: black;
    padding-right: 10px;
    margin-left: 100px;
    padding: 15px;
}
.block7-b2{
    background-color:#EAE6DF;
    padding: 10px;
    border: 1px solid #EAE6DF ;
    border-radius: 1px;
    font-size: 20px;
    color: black;
    padding-right: 10px;
    margin-left: 100px;
    padding: 15px;
}
.block7-b3{
    background-color:#EAE6DF;
    padding: 10px;
    border: 1px solid #EAE6DF ;
    border-radius: 1px;
    font-size: 20px;
    color: black;
    padding-right: 10px;
    margin-left: 100px;
    padding: 15px;
}
.block7-p1{
    color: #B24020 ;
    padding-block-start: 200px;
    padding-block-end: 200px
}
.block7-p2{
    font-size: 26px;
    margin-top: -290px;
}