.myimage{
    margin-top: 100px;
    margin-left: 330px;
}
h1{
    text-align: center;
}
nav{
    background-color: black;
    border-inline: 10px ;
    padding: 20px;
    border-radius: 5px;
}
a{
    color: white;
    margin-left: 30px;
    text-decoration: none;
    font-size: 20px;
    font-style:normal;
    font-weight: 20px;   
}
.mya{
    margin-left: 200px;
}
p{
    margin-left: 350px;
    margin-top: -250px;
    text-align: justify;
}
.image-ceo{
    border-radius:10px;
    height:300px;
    width: 300px;
  
}
.imgp{
    border-style: groove;
    border-color: rgb(241, 238, 238);
    padding-left:20px;
    padding-right:50px;
    padding-bottom:80px;
    padding-top:20px;
    margin-top: 30px;

}
.navinfo{
    padding: 20px;
    outline-offset: 30px;
}
.apple-ceo{
padding-left:100px;
margin-top:10px;
}
u{
  background-color: white;
  color: rgb(23, 23, 245);
}
footer{
    margin-top: 600px;
    color: rgb(139, 137, 137);
    font-size: 12px;
}
body{
    margin: 100px;
    margin-top: -10px;
}
br0{
    padding-left:50px;
}
br1{
    padding-left:1px
}
br2{
    padding-left: 1100px;
}
.first-img{
    padding-left: 750px;
    margin-top: 40px;
    height: 250px;
    border-radius: 20px;
}
.pfirst-img{
 margin-left: 50px;
 padding-top: 50px;
 font-size: 26px;
  font-style: oblique;
}
