.body-style{
margin-top: -30px;
}
.logo{
    width:100px;
    height: 20px;
    margin-left: 25px;
    margin-top: 50px;
}
.buttonsearch{
    background-color: #ffffff;
    border: 1px solid #ffffff;
    margin-left: 20px;
}
.search{
  margin-left: 350px;
  margin-top:-35px;
  margin-right: 400px;
  margin-bottom: -30px;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid grey;
  color: grey;
  background-color:#ffffff;
}
input{
    width: 460px;
    height: 20px;
    border: 1px solid #ffffff;
}
.button-microphone{
    border-radius: 100px;
    padding: 10px;
    border: 1px solid #F3F3F3;
    margin-left: 960px;
}
.button-create{
    border-radius: 20px;
    margin-left: 100px;
    border: 1px solid #F3F3F3;
    font-size: 16px;
    color: black;
    padding: 10px;
}
.buttons-leftside{
    margin-top: -40px;
}
.button-bell{
    margin-left: 10px;
}
.button-R{
    margin-left: 40px;
    padding: 10px;
    border-radius: 100px;
    color: #ffffff;
    background-color: #7F57C2;
    border: 1px solid #7F57C2;
}

a{
    text-decoration: none;
    color: black;
}
.dropdown-menu{
    margin-top: 10px;
    height: 600px;
    width: 250px;
    overflow: auto;
    padding-left: 10px;
    margin-left: -50px;
    font-weight: 900px;
    margin-top: -10px;
    padding-right: 40px;
}
hr{
    border: 1px solid #E6E6E6;
}
.dropdown-con{
margin-left: 20px;
}
.dropdown1{
    font-size: 18px;
}
p{
    font-size: 14px;
    color:grey ;
}
.dropdown:hover {
    background-color:#EEF1F3;
    padding:10px;
    border-radius: 20px;
}
.dropdown1:hover{
 background-color:#EEF1F3;
    padding:10px;
    border-radius: 20px;
}
.dropdown2{
     overflow: auto;
     margin-left: 220px;
}
.dropdownli{
display: inline;
padding: 10px;
border-radius:20px;
}
.dropdownli:hover{
    background-color:#EAEBEB;
    padding-top:20px;
    border-radius: 20px;
}
.dropdownlib{
    background-color:black;
    padding:10px;
    border-radius: 30px;
    color: #ffffff;
}
.nav-dropdown{
    margin-top: -30px;
    padding: 10px;
}
iframe{
    width: 300px;
    height: 150px;
    border-radius: 10px;
}
.video{
    margin-left: 300px;
    margin-top: -550px;
    overflow: auto;
    width: 1000px;
    height: 500px;
}
.video2{
    margin-left: 350px;
    margin-top: -221px;
}
.video3{
     margin-left: 700px;
    margin-top: -221px;
}
.video5{
     margin-left: 700px;
    margin-top: -221px;
}
.video6{
     margin-left: 350px;
    margin-top: -221px;
}
.video7{
    margin-left: 350px;
    margin-top: -221px;
}
.video8{
     margin-left: 700px;
    margin-top: -221px;
}

